.input {
    display: flex;
    height: 2.5em;
    flex: 1;
    background-color: #232c30;
    outline: 1px solid #888;
    color: #fafafa;
    justify-content: flex-end;
    padding: 0.5em;
    font-weight: bold;
    font-size: 2em;
    align-items: center;
    overflow: hidden;
}
